table {
    border-collapse: collapse;
    width: 100%;
margin-left:15%;
table-layout: fixed;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
word-wrap:break-word;
}
th a {
    display: block;
word-wrap:break-word;
}






